$color-blue: #3a77ff;
$color-dark-blue: #28375a;
$row-height: 40px;
$table-gap: 1px;

html, body, .app {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color-blue, 0.2);
}

.table {
  background-color: rgba($color-blue, 0.2);
  border: 1px solid rgba($color-blue, 0.5);
  max-height: 80%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba($color-blue, 0.4), 0 0 25px rgba($color-blue, 0.2), 0 0 200px 150px white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  .header {
    display: grid;
    grid-template-columns: 70px repeat(5, 90px);
    grid-gap: $table-gap;
    border-bottom: 1px solid rgba($color-blue, 0.2);
    box-shadow: 0 0 2px 2px rgba($color-blue, 0.15), 0 0 15px 5px rgba($color-blue, 0.15);
    z-index: 1;
    font-weight: bold;
    
    .table-cell {
      background-color: mix($color-blue, white, 20%);
    }
  }
  
  .table-inner {
    display: grid;
    grid-template-columns: 70px repeat(5, 90px);
    grid-gap: $table-gap;
    height: 100%;
    overflow: auto;
  }
  
  .table-cell {
    padding: 0 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $row-height;
    color: $color-dark-blue;
    
    &.column-0 {
      padding: 0 10px;
    }
    
    &.optimistic {
      position: relative;
      background-image: linear-gradient(rgba(58, 119, 255, 0.2) 1px, transparent 1px);
      background-size: $row-height+$table-gap $row-height+$table-gap;
      background-repeat: repeat;
      margin-top: -1px; // This fixes the double gab below the visible rows that occurs as a result of the gradient meeting the grid gap.
      
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background-size: 80px 80px;
        animation: blink 2s infinite;
        background-repeat: repeat;
        background-image: linear-gradient(to right, transparent 0, transparent 10%, rgba(58, 119, 255, 0.1) 10%, rgba(58, 119, 255, 0.1) 90%, transparent 90%);
      }
    }
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}