.slider {

    .slick-track {
        // width: 100vw;
        min-height: 100vh;
        position: relative;
    }

    .page {
        // width: 100%;
        width: 100vw;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}