.MuiPaper-root { 
    color: white !important;
    background-color: #1d1f22 !important;
    width: 40%;
    align-items: center;

    .MuiListItem-button {
        font-family: 'Malgun Gothic' !important;
    }
}