.container-thumbnail {

    display: grid;
    grid-gap: .15em;
    grid-template-columns: 1fr 1fr 1fr;
  
    .item-thumbnail {
      margin: 0;
      position: relative;
      // aspect-ratio: 1;
      width: 100%;
      padding-bottom: 100%;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit:cover;
        display: block;
        margin-left: auto;
        margin-right: auto
      }
    }
  }